// Colours

$primary-highlight: #5cec80;
$secondary-highlight: #bd3a3a;
$tertiary-highlight: #df6d9d;

$sidebar-colour: #ffefc8;
$hover-colour: #e5e5e5;
$description-colour: #474747;
$text-colour-light: white;
$text-colour-dark: black;

$table-background-colour: #e5e5e5;

// Sizes

$sidebar-width: 330px;
$sidebar-height-min: 150px;
$sidebar-height: 200px;