@media only screen and (orientation: landscape) and (min-width: 1250px) {
    .post {
        max-width: 900px !important;
    }
}

.post {
    max-width: 100%;
}

.post-title h1 {
    margin: 0;
}

span#notion-highlight-1 {
    color: rgb(255, 79, 79);
}

img.contact-image {
    width: 3rem;
    margin-right: .9rem;
    vertical-align: middle;
}

.post-description {
    margin-bottom: 0.5em;
}

.post-date {
    color: $secondary-highlight;
    font-weight: bold;
    font-size: 0.9rem;
}

.post-image {
    max-width: 100%;
    max-height: 600px;
    border-radius: 5px;
    margin-top: 1em;
}

.post-tags {
    font-weight: bold;
    font-size: 0.9rem;
    color: $tertiary-highlight;
}

.post-tag {
    border-radius: 0.2rem;
    background-color: $tertiary-highlight;
    padding: 0 0.2rem;
    color: white;
    margin: 0 0.2rem;
    line-height: 1.6;
}

.post-tag:hover {
    color:white;
    background-color: $primary-highlight;
}

.post-content {
    margin-bottom: 2em;
}

.clickable-image {
    max-width: 100%;
    max-height: 600px;
    text-align: center;
}

.clickable-image a {
    max-width: 80%;
    display: inline-block;
}

.post-content img {
    max-width: 100%;
    max-height: 600px;
    border-radius: 5px;
}