@use "constants" as g;

$fsize: max(2.3vmin, 1rem);

.para {
  width: 100%;
  font-size: $fsize;
  font-family: g.$sans-thin;
  font-weight: 200;
  color: #000;
  line-height: calc($fsize * 3 / 2);
}

.paraDark {
  @extend .para;
  color: #fff;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.centerCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}
