@use "constants" as g;

$navU: g.$navbar-height;

.container {
  width: 100vw;
  height: $navU;
  position: fixed;
  top: 0;
  left: 0;
  user-select: false;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navBg {
  width: 100vw;
  height: $navU;
  position: fixed;
  background-color: rgba(255, 255, 255, .05);  
  backdrop-filter: blur(5px);
}

.navBgDark {
  @extend .navBg;
  background-color: rgba(0, 0, 0, .05);  
}

.containerDark {
  @extend .container;
}

.navToggler {
  margin-right: calc($navU * 0.4);
}

.navLight {
  width: calc($navU * 0.25);
  margin-left: calc($navU * 0.4);
}

.navDark {
  @extend .navLight;
  filter: invert(100%);
}

$ofs: calc($navU * 0.02); 
$ofs2: calc($ofs * 2);
$ofs4: calc($ofs * 4);
$ofs4n: calc($ofs * -4);
.navIconContainer {
  border-style: solid;
  border-radius: calc($navU * 0.05);
  border-color: whitesmoke;
  height: calc($navU * 0.45);
  width: calc($navU * 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $ofs;
}

.navIconContainer:active {
  box-shadow: inset $ofs2 $ofs2 $ofs4 $ofs4n black;
  padding: $ofs2 0 0 $ofs2;
}

.navIcon {
  width: calc($navU * 0.25);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIconDark {
  @extend .navIcon;
  filter: invert(100%);
}

.btnContainer {
  display: flex;
  gap: calc($navU / 5);
  flex-direction: row;
  align-items: center;
  margin-right: calc($navU * 0.4);
}

.btnContainerMobile {
  width: calc($navU * 1.5);
  border-radius: calc($navU / 8);
  position: fixed;
  top: calc($navU * 1.2);
  right: calc($navU * 0.4);
  display: flex;
  gap: calc($navU / 10);
  flex-direction: column;
  align-items: center;
  padding: calc($navU / 10);
  background-color: rgba(0, 0, 0, .05);  
  backdrop-filter: blur(5px);
}

.btnContainerMobileDark {
  @extend .btnContainerMobile;
  background-color: rgba(255, 255, 255, .15);  
}

.navBtn {
  border-style: solid;
  border-radius: 1vw;
  border-color: transparent;
  width: fit-content;
  height: calc($navU * 0.3);
  display: block;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc($navU * 0.2);
  font-family: g.$monospace;
  font-weight: 400;
  padding: 0.5vw 1vw;
  margin: 0 0.2vw;
  color: g.$font-col-light;
}

.navBtnDark {
  @extend .navBtn;
  color: g.$font-col-dark;
}

.navBtnMobile {
  @extend .navBtn;
  width: 100%;
  height: calc(min(10vmax, 10vh) * 0.5);
  box-sizing: border-box;
}

.navBtnMobileDark {
  @extend .navBtnDark;
  width: 100%;
  height: calc(min(10vmax, 10vh) * 0.5);
  box-sizing: border-box;
}

.navBtnPressed {
  border-color: black;
}

.navBtnPressedDark {
  border-color: white;
}

.navBtn:hover {
  backdrop-filter: invert(10%);
}

.navBtnDark:hover {
  backdrop-filter: invert(40%);
}

.navPressed {
  @extend .navBtn;
  -moz-box-shadow:    inset 0 0 10px #e0e0e0;
  -webkit-box-shadow: inset 0 0 10px #e0e0e0;
  box-shadow:         inset 0 0 10px #e0e0e0;
}
