@use "constants" as g;

.container {
  width: 100%;
  height: g.$navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  user-select: false;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.containerDark {
  @extend .container;
}

.navToggler {
  margin-right: calc(g.$navbar-height * 0.4);
}

.navLight {
  width: calc(g.$navbar-height * 0.25);
  margin-left: calc(g.$navbar-height * 0.4);
}

.navDark {
  @extend .navLight;
  filter: invert(100%);
}

.navIconContainer {
  border-style: solid;
  border-radius: 1vw;
  border-color: whitesmoke;
  height: calc(g.$navbar-height * 0.45);
  width: calc(g.$navbar-height * 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcon {
  width: calc(g.$navbar-height * 0.25);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIconDark {
  @extend .navIcon;
  filter: invert(100%);
}

.btnContainer {
  display: flex;
  gap: calc(g.$navbar-height / 5);
  flex-direction: row;
  align-items: center;
  margin-right: calc(g.$navbar-height * 0.4);
}

.btnContainerMobile {
  position: fixed;
  top: g.$navbar-height;
  right: calc(g.$navbar-height * 0.4);
  display: flex;
  gap: calc(g.$navbar-height / 5);
  flex-direction: column;
  align-items: flex-end;
  background: g.$neutral-col;
  padding: calc(g.$navbar-height / 5);
}

.btnContainerMobileDark {
  @extend .btnContainerMobile;
  background: g.$neutral-col-dark;
}

.navBtn {
  border-style: solid;
  border-radius: 1vw;
  border-color: transparent;
  width: fit-content;
  height: calc(g.$navbar-height * 0.3);
  display: block;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(g.$navbar-height * 0.2);
  font-family: g.$monospace;
  font-weight: 400;
  padding: 0.5vw 1vw;
  margin: 0 0.2vw;
  color: g.$font-col-light;
}

.navBtnDark {
  @extend .navBtn;
  color: g.$font-col-dark;
}

.navBtnPressed {
  border-color: black;
}

.navBtnPressedDark {
  border-color: white;
}

.navBtn:hover {
  border-color: #dadada;
}

.navPressed {
  @extend .navBtn;
  -moz-box-shadow:    inset 0 0 10px #e0e0e0;
  -webkit-box-shadow: inset 0 0 10px #e0e0e0;
  box-shadow:         inset 0 0 10px #e0e0e0;
}
