@use "constants" as g;

.container {
  width: g.$navbar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

.titleContainer {
  position: absolute;
  top: 0;
  margin-left: 2vw;
  margin-top: 2vw;
}

.navBarIcon {
  width: 5vw;
  position: absolute;
  left: 8vw;
  top: 9.5vw;
}

.canvas {
  position: absolute;
  transform-origin: top left;
  transform: scale(0.5);
  opacity: 0.3;
  background: green;
}

.title {
  display: block;
  font-size: 3vw;
  font-family: g.$sans-wide;
  line-height: 3vw;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5vw;
  font-family: g.$sans-thin;
  font-weight: light;
}

.btnContainer {
  position: absolute;
  bottom: 0;
  margin-left: .85vw;
  margin-bottom: 2vw;
}

.navBtn {
  border-radius: 1vw;
  width: fit-content;
  display: block;
  cursor: pointer;
  font-size: 1.7vw;
  margin-top: 1vw;
  font-family: g.$sans-thin;
  font-weight: 200;
  padding: 0.5vw 1vw;
}

.navBtn:hover {
  background: #f0f0f0;
}

.navPressed {
  @extend .navBtn;
  -moz-box-shadow:    inset 0 0 10px #e0e0e0;
  -webkit-box-shadow: inset 0 0 10px #e0e0e0;
  box-shadow:         inset 0 0 10px #e0e0e0;
}
