---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found Page">
  <div class="errCon">
    <div class="err1">
      error 404
    </div>
    <div class="err2">
      OOPS
    </div>
    <div class="err1">
      <code><pre>
    {`
       .-"-.          \n
     _/_-.-_\\_       \n
    / __} {__ \\      \n
   / //  "  \\\\ \\   \n
  / / \\'---'/ \\ \\  \n
  \\ \\_/'"""'\\_/ /  \n
   \\           /     \n
 Can't Find Nothin'
    `}
      </pre></code>
    </div>

  </div>
</Layout>

<style>
.errCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-mono);
  gap: 0.1rem;
  height: 100%;
}

.err1 {
  font-weight: 200;
  font-size: 1rem;
  padding: 0;
  line-height: 0.4rem;
}

.err2 {
  font-weight: 1000;
  font-size: 5rem;
  padding: 0;
  line-height: 5rem;
}

.err3 {
  font-weight: 200;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 2rem;
}
</style>
