$bg-color: #fdfdfd;
$main-font: 'Comic Sans MS';
$h1-color-top: #e2f2ff;
$h1-color-bottom: #2c53ff;
$h2-color-top: #03dd03;
$h2-color-bottom: #99ffa7;

.App {
  text-align: center;
	background-color: $bg-color;
	color: $bg-color;
	height:100%;
	overflow: hidden;
}

.App-logo {
  height: 100%;
  pointer-events: none;
	position: relative;
	bottom: 0;
	left: 0;
}

#Home-Content {
	height: 87vh;
	display:flex;
	flex-direction: row-reverse;
	background: $bg-color;
	color: $bg-color;
}

#Home-Text {
  height: 0;
	width: 100%;
	position: relative;
	left: 9vw;
	top: 40vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	align-content: left;
}

#Home-Text h1 {
	color: red;
	font-family: $main-font;
	font-size: 8vh;
	margin: 0;
	text-align: left;
}

#Home-Text h1 span span {
	position: relative;
	opacity: 1;
	background-image: linear-gradient($h1-color-top, $h1-color-bottom);
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	animation: move-text 0.75s forwards;
}

#Home-Text h2 {
	color: red;
	font-family: $main-font;
	font-size: 12vh;
	margin: 0;
	text-align: left;
	line-height: 100%;
}

#Home-Text h2 span span:hover {
	animation: none;
}

#Home-Text h2 span span {
	position: relative;
	opacity: 1;
	background-image: linear-gradient($h1-color-top, $h1-color-bottom);
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	animation: move-and-hue 0.75s forwards;
}

@keyframes move-text {
	0% { bottom: -0.2em; opacity: 1; }
	50% { bottom: 0.2em; }
	100% { bottom: 0; opacity: 1; }
}

@keyframes rainbow {
	12.5% {
    color: #FF0000;
  }
  25% {
    color: #FFA500;
  }
  37.5% {
    color: #FFFF00;
  }
  50% {
    color: #7FFF00;
  }
  62.5% {
    color: #00FFFF;
  }
  75% {
    color: #0000FF;
  }
  87.5% {
    color: #9932CC;
  }
  100% {
    color: #FF1493;
  }
}

@keyframes move-and-hue {
	0% {
		bottom: 0.4em;
	}
	12.5% {
    background-image: linear-gradient(#FF1493,  #FF0000);
  }
  25% {
		background-image: linear-gradient(#FF0000,  #FFA500);
  }
  37.5% {
		background-image: linear-gradient(#FFA500,  #FFFF00);
  }
  50% {
		background-image: linear-gradient(#FFFF00,  #7FFF00);
  }
  62.5% {
		background-image: linear-gradient(#7FFF00,  #00FFFF);
  }
  75% {
		background-image: linear-gradient(#00FFFF, #0000FF);
  }
  87.5% {
		background-image: linear-gradient(#0000FF,  #9932CC);
  }
  100% {
		background-image: linear-gradient($h2-color-top, $h2-color-bottom);
		bottom: 0;
  }
}