$nav-btn-color-bottom: #4ecdff;
$nav-btn-color-top: #077bff;

a .Blogcard-root {
  width: 25vw;
	height: 15vh;
	display:flex;
	flex-flow: row wrap;
	border-radius: 1.5vw;
	border-style: none;
  transform-style: preserve-3d;
	align-items: center;

	&::before {
		content: '';
		background-image: var(--bgImage);
		background-size: cover;
		background-position: top center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.15;
		border-radius: 1.5vw;
	}
}

a .Blogcard-root:hover {
  width: 15vw;
	height: 15vh;
	border-style: none;
	cursor: url(../assets/finger-pointer.png) 0 0, auto;

	&::before {
		opacity: 0.8;
	}
}

a:link {
  text-decoration: none;
}

a .Blogcard-child {
	position: relative;
	display: inline-block;
  transform: translateZ(30px);
	margin: 0 auto;
	font-size: 1.5vw;
	font-family: "Comic Sans MS";
	font-weight: bold;
	background-size: 100%;
}

a:hover {
	cursor: inherit; 
}


a .Blogcard-root:hover > * {
	cursor: url(../assets/finger-pointer.png) 0 0, auto;
}

.blogcard-title {
	color: black;
}

a .Blogcard-root:hover > .Blogcard-child .blogcard-title{
	display: none;
}

.blogcard-desc {
	display: none;
}

a .Blogcard-root:hover > .Blogcard-child .blogcard-desc{
	display: block;
	color: white;
	
}

.blogcard-overImage {
	display: none;
}

a .Blogcard-root:hover > .Blogcard-child .blogcard-overImage{
	display: block;
	width: 10vw;
	position: absolute;
	bottom: 2vh;
	left: 0;
	margin: 0;
	background-image: var(--overImage);
	background-size: 100%;
}

a .Blogcard-root:active > .Blogcard-child{
	animation: btnClick 0.3s ease-out;
	cursor: url(../assets/finger-clicked.png) 0 0, auto;
}

@keyframes btnClick {
	0% {
		font-size: 1.5vw;
		padding: 0.75vh 0.75vw;
	}
	50% {
		font-size: 1vw;
	}	
}

.disable-select {
		user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}