---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import { Division } from '../components/Home.jsx';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={ description }>
  </head>
  <body>
    <div class="mainCon">
      <div class="contentCon">
        <slot/>
      </div>
      <Navbar />
    </div>
    <Division />
    <div class="fCon">
      <div class="fLeft">
        Nguyen Minh Hieu @ 2022
      </div>
      <div class="fRight">
        <a>
      </div>
    </div>
  </body>
</html>

<style>
.mainCon {
  width: 100vw;
  height: fit-content;
  min-height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background: white;
  justify-content: center;
  padding-bottom: 20vh;
}

.contentCon {
  width: 60rem;
  max-width: 85vw;
  position: relative;
  top: var(--nav-height);
  display: flex;
  flex-direction: column;
  padding-top: 5vmin;
}
</style>
