@use "constants" as g;

.container {
  width: g.$content-width;
  display: flex;
  justify-content: center;
  float: right;
}

.notionContainer {
  display: flex;
  width: min(70vw, 45rem);
  margin: 10vh 0;
  justify-content: center;
  flex-direction: column;
}

.notionTitle {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-family: g.$sans-wide;
  font-weight: 800;
  line-height: 0.8;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
