@use "constants" as g;

.container {
  width: 30%;
  height: 20vw;
}

.background {
  width: 100%;
  height: 80%;
  background-color: grey;
  border-radius: 0.75rem;
  border-style: solid;
  border-color: black;
  border-width: 0.05rem;
}

.title {
  height: max(20%, 2rem);
  margin: auto 0;
  display: flex;
  font-family: g.$monospace;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
