.notion-page {
  width: 100%;
}

.notion-collection-header {
  display: none;
}

.notion-collection-card-cover {
  background: url('/noimage.png');
  background-size: cover;
  background-position: center;
}
