#cvMain {
  height: fit-content;
}

a {
  cursor: pointer;
}

canvas {
  height: 100%;
  width: 100%;
}

.pdfCon {
  width: 100%;
  aspect-ratio: 595 / 841;
}

.downBtnCon {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 1rem 0;
}

.downBtn {
  padding: .3rem .5rem;
  font-size: 1rem;
  background: #a00;
  color: white;
  font-family: "Inter";
  border-radius: .4rem;
  cursor: pointer;
  display: flex;
  gap: .3rem;
}

.downBtn img {
  width: 1rem;
}

#waitMsg {
  font-family: var(--font-serif);
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

.divisor {
  background: #dadada;
  height: 2px;
  width: 100%;
}

.cvSection {
  font-family: "Inter";
  margin: .5rem 0;
}

.cvSectionHeader {
  font-size: 1.4rem;
  font-weight: 700;
}

.cvEntry {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: .5rem 0;
}

.cvEntryHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin: .25rem 0;
}

.cvEntryInstitute {
  font-weight: 700;
}

.cvEntryPosition {
  font-style: italic;
}

.cvEntryHeaderRight {
  color: #949494;
}

.cvEntryDetails li {
  text-indent: 1rem;
}

li::marker {
  margin: 0;
}

#cvHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

#cvName {
  font-size: 1.8rem;
  font-weight: 700;
}

.cvEntryHeaderLeft {
  width: 100%;
  align-items: center;
}

.cvEntryHeaderRight {
  width: 30%;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .cvEntry {
    font-size: .7rem;
    line-height: .9rem;
  }

  .cvEntryHeaderRight {
    width: 10rem;
  }

  .cvEntryHeaderLeft {
    width: 80%;
  }

  .cvInfo {
    font-size: .7rem;
  }

  #cvContact {
    font-size: .7rem;
  }
}
