@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Roboto+Mono&family=Vollkorn&display=swap');

@font-face {
}

:root {
  --col-text:    #000;
  --col-dark:    #000;
  --col-bg:      #fff;
  --col-accent:  #fff;
  --col-fade:    #d9d9d9;

  --nav-height:   5rem;

  --font-mono:    'Roboto Mono', monospace;
  --font-code:    'Roboto Mono', monospace;
  --font-wide:    'Vollkorn', sans-serif;
  --font-thin:    'Roboto', sans-serif;
  --font-serif:   'Vollkorn' , sans-serif;

  --fsize: 1rem;
  --fsizesmall: 0.8rem;
  --hsize: 2rem;
  --hssize: 1.25rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #a00;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    --nav-height: 5rem;
  }
}
