#photoMain {
  display: flex;
  justify-content: center;
  height: fit-content;
  max-width: 90vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

#photoMain img {
  width: 15rem;
  /* object-fit: scale-down; */
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  padding: .25rem;
}

/* #photoMain img:hover { */
/*   background-color: #f0f0f0; */
/*   transform: scale(1.5); */
/*   transition: transform 0.25s ease-in-out; */
/* } */

#photoMain .active {
  width: 100%;
  height: auto;
}

.tips {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: 'Vollkorn';
  font-weight: 200;
}
